@import '/static/bootstrap.min.css';
.app-container {
  display: flex;
  flex-direction: column;
  background-image: url('/static/hangar.jpg');
  background-size: cover;
  font-family: 'Gill Sans', sans-serif;
}
.app-container,
.overlay {
  width: 100%;
  height: 97vh;
}
.overlay {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}
header-component,
.app-content {
  z-index: 1;
}

.app-content {
  align-self: center;
  display: flex;
  width: 90%;
  height: 90%;
}

menu-component {
  flex: 0 0 300px;
}

article {
  flex: 1;
}
