@import '/theme.css';

.app-container {
  display: flex;
  flex-direction: column;
  background-image: url('/images/hangar.jpg');
  background-size: cover;
  font-family: 'Gill Sans', sans-serif;
  min-height: 100vh;
  position: relative;
}

.app-container,
.overlay {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

header-component,
.app-content {
  z-index: 1;
  align-self: center;
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  align-items: stretch;
}

menu-component {
  flex: 0 0 300px;
}

.card {
  margin: 15px;
  color: var(--text-bright);
  padding: 15px;
  background-color: rgba(55, 55, 70, 0.8);
  display: flex;
  width: 350px;
  flex-direction: column;
  min-height: 100%;
}
