@import '/static/bootstrap.min.css';
@import '/theme.css';

.app-header {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 150px;
  padding: 50px;
  color: var(--text-bright);
}

h1 {
  flex: 0 0 200px;
  text-align: center;
  font-variant: small-caps;
  font-size: 2rem;
}

.search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.search input.form-control {
  width: 200px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--text-medium);
}

.search input.form-control::placeholder {
  color: var(--text-medium);
}

/*** MENU ***/

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-items > * {
  /* do not move position when showing details */
  height: 70px;
}

.nav-items .menu-top10 {
  /* do not move position when showing details */
  width: 200px;
}

.nav-items nav {
  display: flex;
  align-items: stretch;
  cursor: pointer;
  flex: 1;
}

.nav-items nav:hover {
  background-color: var(--element-hover);
}

.nav-items span {
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
}

nav.top10-weight,
nav.top10-power,
nav.top10-ratio {
  justify-content: center;
}

.nav-items details {
  margin-left: 15px;
}

/* Horizontal menu */

summary {
  display: flex;
  align-items: center;
}

details section {
  display: flex;
}
