@import '/theme.css';

h3 {
  font-weight: normal;
}

img {
  border-radius: 5px;
  border-width: 3px;
  border-color: var(--text-medium);
  border-style: solid;
  box-sizing: border-box;
  width: 100%;
}
