@import '/theme.css';

.variant-details {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.variant-summary {
  padding-left: 5px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.variant {
  /* Long labels */
  max-width: 70%; /* do not reduce summary arrow */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bars {
  margin-left: 15px;
  margin-right: 10px;
}

.bars label {
  color: var(--text-medium);
}

.bars span {
  color: var(--text-extra-bright);
}

.bar {
  width: 0%; /* default value; will be computed later */
  height: 3px;
  margin: 5px 0 10px 0;
}

.bar-weight {
  background-color: yellow;
}
.bar-power {
  background-color: red;
}
.bar-ratio {
  background-color: green;
}

.bar-title {
  display: flex;
  justify-content: space-between;
  font-size: small;
}
