<template>
  <link rel="stylesheet" href="components/header/header.css">
  <header class="app-header">

    <h1>Sports Cars</h1>
    <nav class="search">
      <input type="text" class="form-control search-filter" placeholder="Search" />
    </nav>


    <section class="nav-items">

      <nav class="home">
        <span>⌂ Home</span>
      </nav>

      <details class="menu-top10">
        <summary>
          <nav>
            <span>Top 10</span>
          </nav>
        </summary>

        <section>
          <nav class="top10-weight">
            <span>Weight</span>
          </nav>
          <nav class="top10-power">
            <span>Power</span>
          </nav>
          <nav class="top10-ratio">
            <span>Ratio</span>
          </nav>
        </section>
      </details>
    </section>

  </header>
</template>
<script src="header.js"></script>